{% extends 'base.html' %}
{% block content %}
    <h1><a href="{% url "artist_list" %}">Исполнители</a>
        <a href="{% url "genre_list" %}">Жанры</a>
        <a href="{% url "album_list" %}">Альбомы</a>
    </h1>
    Альбомы: <br>
    <ul>
    {% for album in albums %}
        <li>
            <a href='{% url 'album' album.name %}' >{{ album.name }}</a>
        </li>
    {% endfor %}
    </ul>
    Композиции: <br>
    <ul>
    {% for track in tracks %}
        <li>{{track.name}} (
        {% for gen in track.genre.all %}
             <a href='{% url "genre" gen %}'> {{ gen }}</a>
            {% endfor %}
        )</li>
    {% endfor %}
</ul>

{% endblock %}